body{
    background-color: rgb(9, 12, 23);
    color:white;
}

.song{
    display:inline-flex;
    flex: 1;
    gap: 5%;
    justify-content: space-around;
    padding: 1.5rem;
    padding-top: 0.5rem;
}
.main{
    width: 35%;
    padding: 1.5rem;
    padding-top: 0%;
    width: 35%;
}
.songDetail{
    /* background-color: rgb(42, 64, 102); */
    position: sticky;
    top: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* font-family: 'Crimson Text', serif;
    font-family: 'Source Code Pro', monospace;
    font-family: 'Dancing Script', cursive; */
}
.songDetail h1{
    font-family: 'Crimson Text', serif;
    margin-bottom: 4rem;
    font-size: 60px;
}

.songDetail img{
    height: 250px;
    border-radius: 10px;
    border: 3px solid white;
    margin: 1.5rem;
}

.songDetail h2{
    font-family: 'Dancing Script', cursive;
    font-weight: 300;
    margin-top: 0%;
}

/*Lyrics */
.songLyrics{
    padding: 2rem 1rem;
    width: 60%;
    /* background-color: rgb(42, 64, 102); */
}
.songLyrics h3{
    font-size: 30px;
    font-family: 'Source Code Pro', monospace;
    font-weight: 200;
    margin-bottom: 2rem;
}
.lyric{
    background-color: rgb(46, 133, 162);
    font-family: 'Source Code Pro', monospace;
    color: black;
    font-weight: 200;
    padding: 1rem 2rem;
    border-radius: 20px;
}
.lyric div{
    margin-bottom: 20px;
}

/* Player */
.player{
    width: 100%;
    position: sticky;
    
    bottom: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#TimeLine{
    -webkit-appearance: none;
    width: 100%;
    height: 5px;
    cursor: pointer;
    border-radius: 10px;
    background-color: rgb(255, 111, 0);
}
#TimeLine::-webkit-slider-thumb{
    -webkit-appearance: none;
    background: rgb(255, 111, 0);
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: 3px solid white;
    

}
.controls{
    display: flex;
    width: 18%;
    margin: 1.2rem;
    justify-content:space-around;

}
.controls div{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border: 2px solid white;
    background-color: rgb(255, 111, 0,0.69);
}
#startstop{
    scale: 1.5;
}
.white{
    color: white;
}
@media (max-width:700px){
    .songDetail img{
        height: auto;
        width: 50%;
    }
    .song{
        flex-direction: column;
        align-items: center;
    }
    .main{
        width: 100%;
    }
    .songLyrics{
        width: 100%;
    }
    .controls{
        width: 50%;
    }
}
